*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  &:focus-visible {
    outline: none;
  }
}

body {
  font-family: $font-base;
  color: $c-gray-62;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

input {
  border: none;
}

textarea {
  font-family: $font-base;
  resize: none;
}
