h1,
h2,
h3,
h4,
.h1-like {
  margin: 0 0 15px;
  color: $c-black-31;
}

h1,
.h1-like {  
  font-size: 44px;
  line-height: 1.11;

  @include breakpoint-down(mobile) {
    font-size: 34px;
  }
 }

h2 {
  font-size: 32px;
  line-height: 1.15;
 }

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 1.6;
  color: $c-gray-62;
}
