.has-border {
  border-bottom: 1px solid $c-gray-e1;
}

.has-border-top {
  border-top: 1px solid $c-gray-e1;
}

.ta-c {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.fz-15 {
  font-size: 15px;
}

.error,
.success {
  font-size: 17px;
  margin: 20px 0;
}

.error {
  color: $c-orange-ff;
}

.success {
  color: $c-green-4b;
}

.no-scroll {
  overflow: hidden;
}

.mobile-only {
  display: none;
  @include breakpoint-down(mobile) {
    display: block;
  }
}