$font-base: 'Euclid Circular A';

$c-white-f2: #f2f6f9;
$c-white-f9: #f9fafc;
$c-white-ed: #EDEDED;

$c-orange-ff: #ff603c;
$c-orange-ff6b: #ff6b00;
$c-orange-f9: #f95798;
$c-orange-ff5c: #ff5c00;
$c-orange-ff60: #FF603C;

$c-yellow-ff: #ffd12f;
$c-yellow-de: #deb700;
$c-yellow-f0: #f0da74;

$c-green-4b: #4bb543;
$c-green-17: #17ca80;
$c-green-23: #23cf87;
$c-green-d9: #d9f075;

$c-black-25: #252729;
$c-black-31: #313336;
$c-black-32: #323537;
$c-black-4e: #4e5053;
$c-black-4a: #4a4a4a;
$c-black-3c: #3c3f44;
$c-black-49: #494c50;
$c-black-55: #555555;

$c-gray-40: #404349;
$c-gray-c4: #c4c4c4;
$c-gray-4f: #4f5665;
$c-gray-53: #535558;
$c-gray-62: #62676c;
$c-gray-73: #73797d;
$c-gray-77: #777777;
$c-gray-79: #797979;
$c-gray-86: #86898d;
$c-gray-e1: #e1e6ef;
$c-gray-9f: #9fa3aa;
$c-gray-5e: #5e6268;
$c-gray-f2: #f2f6f9;
$c-gray-83: #838383;
$c-gray-9c: #9ca0a5;
$c-gray-50: #505960;
$c-gray-fa: #fafbfc;
$c-gray-61: #61656c;
$c-gray-cb: #CBCFD4;

$c-teal-ae: #aeecff;
$c-blue-1a: #1aa9d7;
$c-blue-31: #3183ff;
$c-blue-52: #52e4e5;

$c-purple-ee: #ee93f8;

$responsive-ios: 812px;

$breakpoints: (
  mobile-small: 374px,
  mobile-medium: 575px,
  mobile: 767px,
  admin-bar: 782px,
  tablet: 1023px,
  small-desktop: 1199px,
  large-desktop: 1399px,
);
