.accordion {
  .accordion__head {
    display: flex;
    align-items: center;
    gap: 26px;
    padding: 17px 0 0;
    cursor: pointer;

    &:hover {
      .accordion__title {
        color: $c-orange-ff;
      }
    }

    @include breakpoint-down(mobile) {
      padding: 20px 0 0;
    }
  }

  .accordion__icon-wrapper {
    margin-left: auto;
  }

  .accordion__title {
    font-size: 16px;
    color: $c-gray-4f;
    font-weight: 500;
    line-height: 1.3;

    @include breakpoint-down(mobile) {
      font-size: 15px;
    }
  }

  .accordion__icon {
    font-size: 31px;
    color: $c-gray-4f;
    opacity: 0.6;
  }

  .accordion__question-mark {
    margin-left: 10px;
    position: relative;
    font-size: 18px;
    color: #ffffff;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: $c-orange-ff;

    @include breakpoint-down(mobile-medium) {
      display: none;
    }

    span {
      position: absolute;
      display: block;
      top: 22%;
      left: 35%;
    }
  }

  .accordion__content {
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    margin: 0 0 16px 10px;
    transition: all 0.4s;

    @include breakpoint-down(mobile) {
      margin: 0 0 16px;
      font-size: 14px;
    }

    p {
      font-size: 15px;
      margin-bottom: 20px;
      line-height: 1.7;
    }

    ul {
      padding: 0 20px 15px 40px;
    }

    li {
      list-style: disc;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    a {
      text-decoration: underline;
      margin: 0 3px 0 5px;

      &:hover {
        color: $c-orange-ff;
      }
    }
  }

  .accordion__item {
    &.is-open {
      .accordion__content {
        margin-top: 15px;
        max-height: 1000px;
      }

      .accordion__title,
      .accordion__icon {
        color: $c-orange-ff;
      }
    }
  }

  .accordion__icon {
    @include breakpoint-down(mobile-medium) {
      font-weight: 400;
      font-size: 26px;
    }
  }
}
