.animate-upload {
  .animate-upload_svg__js-picture,
  .animate-upload_svg__js-character {
    opacity: 0;
    transform: translateX(-10%);
    transition: all 0.5s;
  }

  .animate-upload_svg__js-placeholder {
    transition: all 0.5s;
  }
}

.animate-upload_svg__js-bg {
  transform-origin: center center;
  animation: animatePackageBG 5s linear infinite alternate;
}

.animate.aos-animate {
  .animate-upload_svg__js-picture,
  .animate-upload_svg__js-character {
    opacity: 1;
    transform: translateX(0);
  }

  &:hover {
    .animate-upload_svg__js-picture {
      transition: all 0.5s;
      transform: translate(26px, 45px) rotate(-14deg);
    }

    .animate-upload_svg__js-placeholder {
      opacity: 0;
    }
  }
}
