.animate-active {
  .animate-active_svg__js-hand {
    opacity: 0;
    transform: translate(-50px, 50px);
    transition: all 0.5s;
  }

  .animate-active_svg__js-lines {
    opacity: 0;
    transition: all 0.5s 0.2s;
  }

  .animate-active_svg__js-heart {
    opacity: 0;
    transform-origin: center center;
    transform: scale(0.5);
    transition: all 0.5s 0.2s;
  }

  .animate-active_svg__js-right-arm {
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.5s;
  }
}

.animate {
  &.aos-animate {
    .animate-active_svg__js-hand {
      opacity: 1;
      transform: translate(0, 0);
    }

    .animate-active_svg__js-heart {
      opacity: 1;
      transform: scale(1);
    }

    .animate-active_svg__js-lines {
      opacity: 1;
    }

    .animate-active_svg__js-right-arm {
      transform: translateY(0);
      opacity: 1;
    }

    .box-row__inner:hover {
      .animate-active_svg__js-hand {
        opacity: 0;
        transition: none;
        animation: animateActiveHand 0.5s forwards;
      }

      .animate-active_svg__js-heart {
        opacity: 0;
        transition: none;
        animation: animateActiveHeart 0.5s 0.2s forwards;
      }

      .animate-active_svg__js-lines {
        opacity: 0;
        transition: none;
        animation: animateActiveLines 0.5s 0.2s forwards;
      }

      .animate-active_svg__js-right-arm {
        opacity: 0;
        transition: none;
        transform: translateY(40px);
        animation: animateActiveHandRight 0.5s forwards;
      }
    }
  }

  .animate-active_svg__js-background {
    transform-origin: center center;
    animation: animateBG 5s infinite alternate;
  }

  .animate-active_svg__js-rect {
    animation: animateActiveSquare 5s linear infinite alternate;
  }

  .animate-active_svg__js-triangle {
    animation: animateActiveTriangle 5s linear infinite alternate;
  }
}

@keyframes animateActiveSquare {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes animateActiveTriangle {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(5px, 5px);
  }
}

@keyframes animateActiveHand {
  from {
    opacity: 0;
    transform: translate(-50px, 50px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animateActiveHandRight {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animateActiveLines {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateActiveHeart {
  0% {
    opacity: 0;
    transform-origin: center center;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
