.box-row {
  &:hover {
    .animate-detection {
      .animate-detection_svg__js-hand {
        animation: animateDetectionHand 1s infinite alternate linear;
      }
    }
  }
}

@keyframes animateDetectionHand {
  0% {
    transform: translate(-5px, 0);
  }

  100% {
    transform: translate(5px, 0);
  }
}
