.box-row {
  &:hover {
    .animate-watch {
      .animate-watch_svg__js-eye {
        animation: animateWatchEye 2s infinite alternate;
      }
    }
  }
}

@keyframes animateWatchEye {
  0% {
    transform: translate(-5px, 0);
  }

  100% {
    transform: translate(5px, 0);
  }
}
