.animate-buy {
  .animate-buy_svg__js-right-arm {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.5s;
  }

  .animate-buy_svg__js-left-lines,
  .animate-buy_svg__js-right-lines {
    opacity: 0;
    transition: all 0.5s;
  }

  .animate-buy_svg__js-number {
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s 0.2s;
    transform-origin: center center;
  }

  .animate-buy_svg__js-card,
  .animate-buy_svg__js-left-arm {
    opacity: 0;
    transition: all 0.5s;
    transform: rotate(-5deg);
  }

  .animate-buy_svg__js-bg {
    animation: animateBG 5s linear infinite alternate;
  }
}

.animate {
  &.aos-animate {
    .animate-buy_svg__js-right-arm {
      opacity: 1;
      transform: translateX(0);
    }

    .animate-buy_svg__js-number {
      opacity: 1;
      transform: scale(1);
    }

    .animate-buy_svg__js-left-lines,
    .animate-buy_svg__js-right-lines {
      opacity: 1;
    }

    .animate-buy_svg__js-card,
    .animate-buy_svg__js-left-arm {
      opacity: 1;
      transform: rotate(0);
    }

    .box-row__inner:hover {
      .animate-buy_svg__js-right-arm {
        transition: none;
        animation: animateBuyRightArm 0.5s forwards;
      }

      .animate-buy_svg__js-number {
        transform: scale(0);
        opacity: 0;
        transition: none;
        animation: animateBuyNumber 0.5s 0.2s forwards;
      }

      .animate-buy_svg__js-left-lines,
      .animate-buy_svg__js-right-lines {
        opacity: 0;
        transition: none;
        animation: animateBuyOpacity 0.5s 0.2s forwards;
      }

      .animate-buy_svg__js-card,
      .animate-buy_svg__js-left-arm {
        opacity: 0;
        transition: none;
        animation: animateBuyLeftArm 0.5s forwards;
      }
    }
  }
}

@keyframes animateBuyRightArm {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateBuyOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateBuyNumber {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animateBuyLeftArm {
  0% {
    opacity: 0;
    transform: rotate(-5deg);
  }

  50% {
    opacity: 1;
    transform: rotate(5deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
