.box-row {
  &:hover {
    .animate-hands-reach {
      .animate-hands-reach_svg__js-hand-1 {
        animation: animateHandsReachMove 0.8s infinite alternate linear;
      }

      .animate-hands-reach_svg__js-hand-2 {
        animation: animateHandsReachMove 1.3s infinite alternate linear;
      }
    }
  }
}

@keyframes animateHandsReachMove {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -5px);
  }
}
