.animate-support {
  &.green {
    .animate-support_svg__js-bg {
      fill: $c-green-d9;
    }
  }

  .animate-support_svg__js-bg {
    transform-origin: center center;
    animation: animatePackageBG 5s linear infinite alternate;
  }

  .animate-support_svg__js-phone {
    opacity: 0;
    transform: translate(0, 2px);
    transition: all 0.3s;
  }

  .animate-support_svg__js-lines {
    opacity: 0;
    transition: all 0.5s 0.4s;
  }
}

.animate {
  &.aos-animate {
    .animate-support_svg__js-phone {
      opacity: 1;
      transform: translate(0, 0);
    }

    .animate-support_svg__js-lines {
      opacity: 1;
    }

    .box-animate:hover {
      .animate-support_svg__js-phone {
        opacity: 0;
        transform: translate(0, 0);
        transition: none;
        animation: animateSupportPhone 0.5s forwards;
      }

      .animate-support_svg__js-lines {
        opacity: 0;
        transition: none;
        animation: animateSupportOpacity 0.5s 0.4s forwards;
      }
    }
  }
}

@keyframes animateSupportBG {
  from {
    transform: scale(0.9) translateX(5px);
  }

  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes animateSupportPhone {
  from {
    opacity: 0;
    transform: translate(0, 2px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animateSupportOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
