.animation-grab {
  .js-bg {
    animation: animateBG 5s infinite alternate;
  }

  .js-heart {
    opacity: 0;
    transition: all 0.5s 0.3s;
    transform: scale(0.9);
    transform-origin: center center;
  }

  .js-swirl {
    opacity: 0;
    transition: all 0.5s 0.3s;
  }

  .js-hero {
    opacity: 0;
    transition: all 0.5s;
    transform: translate(100px, 0);
  }
}

.animate {
  &.aos-animate {
    .js-heart {
      opacity: 1;
      transform: scale(1);
    }

    .js-hero {
      opacity: 1;
      transform: translate(0, 0);
    }

    .js-swirl {
      opacity: 1;
    }
  }
}
