.box-row {
  &:hover {
    .animate-dynamic {
      animation: animteDynamicScale 1s infinite alternate linear;

      .animate-dynamic_svg__js-lines {
        animation: animateDynamicHand 1s infinite alternate linear;
      }
    }
  }
}

@keyframes animteDynamicScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes animateDynamicHand {
  0% {
    transform: translate(-1px, 3px);
  }

  100% {
    transform: translate(1px, 0);
  }
}
