.box-row {
  &:hover {
    .animate-delay-likes {
      .animate-delay-likes_svg__js-clock {
        animation: animateDelayLikes 0.1s infinite alternate;
        transform-style: preserve-3d;
        backface-visibility: hidden;
      }
    }
  }
}

@keyframes animateDelayLikes {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1px, 0);
  }
}
