.box-row {
  &:hover {
    .animate-cancel {
      .animate-cancel_svg__js-circle {
        animation: animateCancelLikes 0.9s infinite alternate;
      }

      .animate-cancel_svg__js-line {
        animation: animateCancelLine 0.9s infinite alternate;
      }
    }
  }
}

@keyframes animateCancelLikes {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes animateCancelLine {
  0% {
    transform: translateY(0) rotate(0);
  }

  100% {
    transform: translateY(5px) rotate(9deg);
  }
}
