.animate-details {
  .animate-details_svg__js-bg {
    animation: animateBG 5s infinite alternate;
  }

  .animate-details_svg__js-check-line,
  .animate-details_svg__js-orange-box {
    transition: all 0.5s;
    transform: translateY(-22%);
  }

  .animate-details_svg__js-arm {
    opacity: 0;
    transition: all 0.5s 0.4s;
    transform: translateX(-10%);
  }

  .animate-details_svg__js-lines {
    opacity: 0;
    transition: all 0.5s;
  }
}

.animate {
  &.aos-animate {
    .animate-details_svg__js-check-line,
    .animate-details_svg__js-orange-box {
      transform: translateY(0);
    }

    .animate-details_svg__js-arm {
      opacity: 1;
      transform: translateX(0);
    }

    .box-row__inner:hover {
      .animate-details_svg__js-check-line,
      .animate-details_svg__js-orange-box {
        transition: none;
        animation: animateDetailsBox 0.5s forwards;
      }

      .animate-details_svg__js-arm {
        opacity: 0;
        transform: translateX(0);
        transition: none;
        animation: animateDetailsArm 0.5s 0.4s forwards;
      }
    }
  }
}

@keyframes animateDetailsBox {
  0% {
    transform: translateY(-22%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateDetailsArm {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
