.animate.aos-animate {
  &:hover {
    .animate-grow {
      .animate-grow_svg__js-character {
        animation: animateGrowCharacter 1s infinite alternate;
      }

      .animate-grow_svg__js-smoke {
        animation: animateGrowMove 1s infinite alternate;
      }

      .animate-grow_svg__js-heart {
        animation: animateGrowPulse 1s infinite alternate;
      }
    }
  }
}

@keyframes animateGrowCharacter {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-7px, 40px);
  }
}

@keyframes animateGrowMove {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(20px, 0) scale(0.9);
  }
}

@keyframes animateGrowPulse {
  0% {
    transform: scale(1) translateX(0);
  }

  100% {
    transform: scale(0.75) translateX(60px);
  }
}
