.animate-media {
  .animate-media_svg__js-bg {
    transform-origin: center center;
    animation: animatePackageBG 5s linear infinite alternate;
  }

  .animate-media_svg__js-number,
  .animate-media_svg__js-move,
  .animate-media_svg__js-character {
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(20%);
  }
}

.animate.aos-animate {
  .animate-media_svg__js-number,
  .animate-media_svg__js-move,
  .animate-media_svg__js-character {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    .animate-media_svg__js-move {
      animation: animateMediaMove 1.5s infinite alternate linear;
    }
  }
}

@keyframes animateMediaMove {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, -2px);
  }

  100% {
    transform: translate(2px, 2px);
  }
}
