.author-box {
  display: flex;
  gap: 10px;
  align-items: center;

  @include breakpoint-down(mobile) {
    gap: 5px;
  }

  .author-box__image {
    padding: 2px;
    border: 2px solid $c-orange-ff6b;
    border-radius: 50%;
    font-size: 0;

    img {
      border-radius: 50%;
    }
  }

  h5 {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: $c-black-31;

    @include breakpoint-down(mobile) {
      font-size: 13px;
    }

    svg {
      position: absolute;
      top: -3px;
      right: -18px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;

    &.is-orange {
      color: $c-orange-ff6b;
    }

    @include breakpoint-down(mobile) {
      font-size: 11.5px;
    }
  }
}
