.blog-navigation {
    .nav-blog {
        @include breakpoint-down(mobile) {
            display: none;
        }
    }

    .dropdown {
        margin: 30px 0 10px;
        max-width: max-content;

        @include breakpoint-up(mobile) {
            display: none;
        }

        li {
            padding: 0;
        }

        a {
            width: 100%;
            padding: 11px 17px;
        }
    }
}
