.box-animate {
  position: relative;
  padding: 50px 0 0 120px;

  .box-animate__image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:nth-child(odd) {
    @include breakpoint-down(tablet) {
      padding: 0 180px 0 0;
    }

    @include breakpoint-down(mobile-medium) {
      padding: 0 120px 0 0;
    }

    .box-animate__image {
      @include breakpoint-down(tablet) {
        left: auto;
        right: 0;
      }

      @include breakpoint-down(mobile-medium) {
        right: -70px;
      }
    }
  }

  &:nth-child(even) {
    @include breakpoint-down(tablet) {
      padding: 30px 0 30px 180px;
    }

    @include breakpoint-down(mobile-medium) {
      padding: 0 0 30px 100px;
    }

    .box-animate__image {
      @include breakpoint-down(mobile-medium) {
        left: -40px;
      }
    }
  }

  .box-animate__content {
    position: relative;
    z-index: 1;

    h4 {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.15;

      @include breakpoint-down(mobile) {
        font-size: 20.4px;
      }
    }

    p {
      margin-bottom: 22px;
      font-size: 15px;
      line-height: 1.466667;
    }
  }

  .animate-delivery {
    width: 180px;
    top: -40px;
    position: relative;
  }

  .btn--white {
    font-size: 14.5px;
    padding: 12px 15px;
    left: 28px;
    background: #ffffff;
    border: 1px solid rgba(243, 243, 243, 0.62);

    box-shadow: 0px 3px 7px rgba(174, 189, 217, 0.07),
      0px 4px 13px rgba(130, 145, 152, 0.08), 0px 2px 2px rgba(65, 71, 79, 0.08);
    border-radius: 12px;
  }
}
