.burger-icon {
    position: relative;
    background-color: $c-white-f2;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;

    .burger-icon__inner {
        top: 49%;
        left: 30%;
        transition: transform 0.4s;
        height: 2.2px;

        &,
        &:after,
        &:before {
            position: absolute;
            display: inline-block;
            background-color: $c-gray-53;
            width: 15.5px;
        }

        &:before,
        &:after {
            content: "";
            height: 2px;
        }

        &:before {
            top: -5px;
        }

        &:after {
            top: 5px;
        }

        &.is-open {
            background: transparent;
            transform: rotate(360deg);

            &::before {
                transform: rotate(46deg) translate(3.5px, 4px);
            }

            &::after {
                transform: rotate(-48deg) translate(3.2px, -3.2px);
            }
        }
    }
}
