.btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  transition: all 0.5s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 11px;
  padding: 15px 18px;
  border: 1px solid transparent;

  &.btn--smaller {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.btn--white {
    background: #ffffff;
    color: $c-orange-ff;

    &:hover {
      background: $c-orange-ff;
      color: #ffffff;
    }
  }

  &.btn--orange {
    background: $c-orange-ff;
    color: #ffffff;

    &:hover {
      background: transparent;
      border-color: $c-orange-ff;
      color: $c-orange-ff;
    }
  }

  &.btn--rounded {
    border-radius: 45px;
  }

  &.btn--rounded2 {
    border-radius: 12px;
  }

  &.btn--shadow {
    box-shadow: 0px 3px 7px rgba(174, 189, 217, 0.07),
      0px 4px 13px rgba(130, 145, 152, 0.08), 0px 2px 2px rgba(65, 71, 79, 0.08);
    border: 1px solid rgba(243, 243, 243, 0.62);
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 2px 1px rgba(174, 189, 217, 0.07);
    }
  }

  &.btn--black {
    color: $c-black-31;
  }

  &.btn--flex {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }

  &.btn--arrow {
    height: 24px;
    border-radius: 50%;
    background-color: #ffffff;

    svg {
      width: 100%;
    }

    &:hover {
      transform: translateX(2px);
    }
  }

  &.btn--clear {
    border: none;
    padding: 0;
    font-weight: 400;
    color: $c-black-4a;
    gap: 8px;

    svg {
      transition: transform 0.3s;
    }

    &:hover {
      svg {
        transform: translateX(2px);
      }
    }
  }
}

.fancy-btn-group {
  display: flex;
  flex-direction: column;
  margin: 11px 0 31px;
  gap: 10px;

  & > * {
    flex: 1;
  }

  &.is-row {
    flex-direction: row;
  }
}

.fancy-btn {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: $c-orange-ff;
  border-radius: 18px;
  padding: 22px 22px 19px 24px;
  transition: transform 0.3s;

  &.is-popular {
    &:after {
      content: 'Most Popular';
      border-radius: 6px;
      position: absolute;
      top: -15px;
      left: 22px;
      padding: 5px 9px;
      background-color: $c-yellow-ff;
      color: $c-black-31;
      font-weight: 600;
      font-size: 12.5px;
    }
  }

  &:hover {
    transform: translateY(5px);
  }

  h5,
  h6 {
    color: #ffffff;
  }

  h5 {
    font-size: 16.5px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  h6 {
    font-weight: 400;
    font-size: 14.5px;

    span {
      padding: 2px 4px;
      background-color: #ffffff;
      color: $c-orange-ff;
      margin-left: 3px;
      border-radius: 5px;
      font-weight: 600;
    }
  }
}
