.callout {
  position: relative;
  z-index: 1002;
  padding: 9px 0 10px;
  background: radial-gradient(187.78% 25077.69% at 50.69% 51.11%, #51c0ff 0%, #3083ff 48.44%, #3083ff 87.58%);

  .callout__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    z-index: 1;

    span {
      color: #ffffff;
      font-size: 13px;
      font-weight: 500;
      font-family: $font-base;
    }

    .btn {
      padding: 7px 11px 6px 11px;
      border-radius: 42px;
      font-size: 10px;
      line-height: 11px;
    }
  }

  .callout__svg {
    svg {
      position: absolute;
      top: 45%;
      left: 48.5%;
      transform: translate(-50%, -50%);
    }
  }

  &.lightblue,
  &.orange {
    .callout__svg {
      display: none;
    }
  }

  &.green {
    background: linear-gradient(
      90deg,
      rgba(147, 248, 169, 1) 35%,
      rgba(54, 219, 255, 1) 50%,
      rgba(191, 248, 147, 1) 65%
    );

    .btn {
      color: $c-blue-52;
    }
  }

  &.purple {
    background: linear-gradient(
      90deg,
      rgba(245, 150, 255, 1) 35%,
      rgba(255, 146, 67, 1) 50%,
      rgba(245, 150, 255, 1) 65%
    );
  }

  &.orange {
    background: linear-gradient(89.89deg, #ff9243 7.19%, #f596ff 71.25%);

    .btn {
      padding: 0 6px;
    }
  }

  &.lightblue {
    background: $c-teal-ae;

    span {
      color: $c-black-4a;
      font-weight: 400;
    }

    .btn {
      font-size: 12px;
    }
  }

  &.lightblue,
  &.orange {
    .callout__inner {
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  .callout__btn-group {
    display: flex;
    align-items: center;
    gap: 3px;

    .btn {
      &:first-child {
        opacity: 0.3;
      }

      &:nth-child(2) {
        opacity: 0.76;
      }
    }
  }
}
