.contact-form {
    max-width: 396px;

    @include breakpoint-between(mobile-medium, mobile) {
        margin: 0 auto;
        max-width: 100%;
        width: 80%;
    }

    @include breakpoint-down(mobile-medium) {
        width: 100%;
        max-width: 100%;
    }

    .form__head {
        @include breakpoint-down(mobile) {
            text-align: center;

            p {
                font-size: 15px;
                margin-bottom: 27px;
            }

            h1 {
                margin-bottom: 13px;
            }
        }
    }

    .form__field {
        @include breakpoint-down(mobile) {
            margin: 8px 0 25px;
        }

        &.form__field--textarea {
            @include breakpoint-down(mobile) {
                height: 144px;
            }
        }
    }

    .form__actions {
        @include breakpoint-down(mobile) {
            margin-top: 24px;

            .btn {
                border-radius: 14.5px;
                padding: 18px 68px;
            }
        }
    }
}