.customer-rated {
  .customer-rated__inner {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &.is-column {
    .customer-rated__inner {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .customer-rated__text {
    font-size: 13px;
    color: $c-gray-79;

    @include breakpoint-down(mobile) {
      font-size: 16px;
    }
  }

  .customer-rated__rate {
    font-weight: 600;
  }

  .customer-rated__number {
    margin: 0 3px;
  }

  .customer-rated__stars {
    width: 132px;

    @include breakpoint-down(mobile) {
      width: 125px;
    }

    svg {
      max-width: 100%;
      height: auto;
    }
  }
}
