.embla {
  position: relative;
  overflow: hidden;
}

.embla__container {
  display: flex;
  width: 100%;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: grab;
  margin-left: -42px;

  @include breakpoint-down(mobile) {
    margin: 0;
  }
}

.embla__slide {
  position: relative;
  padding-left: 42px;
  min-width: calc(33.33% + 12px);

  @include breakpoint-down(tablet) {
    min-width: calc(50% + 20px);
  }

  @include breakpoint-down(mobile) {
    min-width: 100%;
    padding-left: 0;
  }
}

.embla__actions {
  margin: 50px auto 20px;
  width: max-content;
  display: flex;
  gap: 5px;

  @include breakpoint-down(mobile) {
    margin: 0px auto 25px;
  }
}

.embla__button {
  transition: transform 0.4s;
  position: relative;
  outline: 0;
  cursor: pointer;
  width: 42px;
  height: 42px;
  touch-action: manipulation;

  svg {
    position: absolute;
    top: 30%;
    left: 40%;
  }

  &--prev {
    svg {
      left: 35%;
    }

    &:hover {
      transform: translateX(-4px);
    }
  }

  &--next {
    &:hover {
      transform: translateX(4px);
    }
  }

  @include breakpoint-down(mobile) {
    display: none;
  }

  .icon-chevron-right-gray_svg__chevron-right {
    d: path('M1.24955 17L9.07568 9L1.24955 0.999999');
    stroke: #4f5665;
    opacity: 1;
    stroke-width: 2.857;
  }
}

.embla__dots {
  display: none;

  @include breakpoint-down(mobile) {
    display: flex;
    gap: 14px;
  }
}

.embla__dot {
  padding: 0 4px;
  border-radius: 50%;
  width: 7.5px;
  height: 8.5px;
  background-color: $c-gray-c4;
  cursor: pointer;

  &.is-selected {
    background-color: $c-orange-ff;
  }
}
