.faq-intro {
    margin: 42px 0 65px;

    @include breakpoint-down(mobile) {
        margin: -35px 0 65px;
    }

    .faq-intro__inner {
        display: grid;
        grid-template-columns: 42% 58%;

        @include breakpoint-down(tablet) {
            grid-template-columns: 40% 60%;
        }

        @include breakpoint-down(mobile) {
            grid-template-columns: 1fr;
        }
    }

    .faq-intro__svg {
        margin-right: 50px;

        @include breakpoint-down(mobile) {
            position: relative;
            margin: 0 auto;
            max-width: 219px;
        }

        svg {
            max-width: 100%;
            height: auto;
        }
    }

    .faq-intro__faqs-wrapper,
    .faq-intro__contact {
        display: flex;
    }

    .faq-intro__faqs-wrapper {
        flex-direction: column;
    }

    .faq-intro__contact {
        margin-top: 46px;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include breakpoint-down(tablet) {
            flex-direction: column;
            text-align: center;
        }

        @include breakpoint-down(mobile) {
            margin-top: 35px;
        }

        p {
            font-size: 15px;
            color: $c-gray-4f;
            line-height: 1.33;
            margin: 0;
            opacity: 0.7;
        }

        .btn {
            position: relative;
            border: 1px solid $c-orange-ff;
            padding: 15px 38px;
            font-size: 14.5px;
            font-weight: 500;
            border-radius: 99px;

            @include breakpoint-down(mobile-medium) {
                display: flex;
                align-items: center;
                padding: 16px 25px 15px;
                background: #ffffff;
                border: 1px solid rgba(243, 243, 243, 0.62);
                box-shadow: 0px 3px 7px rgba(174, 189, 217, 0.07), 0px 4px 13px rgba(130, 145, 152, 0.08),
                    0px 2px 2px rgba(65, 71, 79, 0.08);
                border-radius: 45px;
                color: $c-black-31;
                font-weight: 600;

                &:hover {
                    box-shadow: inset 0 0 6px $c-gray-4f;
                }
            }

            span {
                margin-left: 15px;
                display: none;
                @include breakpoint-down(mobile-medium) {
                    display: inline;
                }
            }
        }
    }
}
