.faqs {
    margin-top: 30px;
    
    .faqs__entry {
        margin-bottom: 60px;

        @include breakpoint-down(mobile) {
            margin-bottom: 30px;
        }

        .h1-like {
            @include breakpoint-down(mobile) {
                text-align: center;
            }
        }

        p {
            margin-bottom: 65px;
        }
    }
}