.flex-row {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--grid-2 {
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 22px;

    .flex-col {
      flex: 1 1 calc(50% - 11px);
      margin-bottom: 11px;
    }
  }
}
