.form-icons-grid {
  @include breakpoint-down(mobile) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    padding: 25px 20px 20px;
    background: #FFFFFF;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 16px;
    justify-content: space-between;
  }
  
  .flex-col {
    display: flex;
    align-items: center;
    font-size: 13.5px;
    font-weight: 500;
    color: $c-black-55;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  .form-icons-grid__icon {
    width: 30px;
    flex: 0 0 30px;
    text-align: center;
    margin-right: 10px;
  }
}
