.grid-radios-holder {
  @include breakpoint-down(mobile) {
    flex: 0 0 100%;
    order: 1;
  }
}

.grid-radios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 12px;
  row-gap: 8px;

  .grid-radios__item {
    position: relative;
    padding: 14px 0;
    height: 77px;
    background-color: $c-gray-f2;
    border-radius: 17px;
    text-align: center;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 3;
      cursor: pointer;

      &:checked {
        & ~ .grid-radios__item-bg {
          background-color: $c-orange-ff;
        }

        & ~ label {
          color: #fff;

          span {
            color: #fff;
          }
        }
      }
    }

    label {
      position: relative;
      display: block;
      font-size: 21px;
      font-weight: 600;
      z-index: 2;

      span {
        display: flex;
        height: 23px;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 600;
        color: $c-gray-83;
        text-align: center;
        z-index: 2;
        text-transform: capitalize;
      }
    }
  }

  .grid-radios__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 17px;
  }

  .grid-radios__item-save {
    position: relative;
    display: inline-flex;
    width: 56px;
    height: 23px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $c-yellow-ff;
    color: $c-black-31;
    font-size: 11px;
    font-weight: 600;
    margin-top: 5px;
    z-index: 2;
  }
}
