.grid {
  .grid__inner {
    display: grid;
    gap: 25px;

    @include breakpoint-down(mobile-medium) {
      gap: 50px;
    }

    &.gap-100 {
      gap: 100px;
    }

    &--2 {
      grid-template-columns: 1fr 1fr;
    }

    &--3 {
      grid-template-columns: 1fr 1fr 1fr;

      @include breakpoint-down(tablet) {
        grid-template-columns: 1fr;
      }
    }

    &.grid--boxes {
      margin-bottom: 20px;

      .box-row__col {
        margin-bottom: 55px;

        @include breakpoint-down(mobile) {
          margin-bottom: 27px;
        }
      }

      @include breakpoint-down(mobile-medium) {
        row-gap: 0;
        column-gap: 30px;
      }

      .box-row {
        .shell {
          @include breakpoint-down(mobile-medium) {
            padding: 0;
          }
        }
      }

      .box-row__inner {
        &.mb-more {
          .box-row__col {
            &:first-child {
              margin-bottom: 62px;
            }
          }
        }

        @include breakpoint-down(mobile) {
          flex-direction: column;
        }
      }
    }
  }
}
