.header {
  position: relative;
  box-shadow: 0px 4px 9px 0px #00000012;
  background-color: #fff;
  z-index: 1000;

  .header__inner {
    padding: 16px 0 13px;
    position: relative;
    background-color: #ffffff;
    z-index: 101;
    display: flex;
    align-items: center;
    gap: 25px;

    @include breakpoint-down(small-desktop) {
      gap: 0;
    }

    &:last-child {
      margin-left: auto;
    }

    @include breakpoint-down(tablet) {
      justify-content: space-between;
    }
  }

  .header__logo {
    max-width: 140px;

    @include breakpoint-down(mobile) {
      max-width: 118px;
    }

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .nav__outer {
    margin-left: auto;
  }

  .nav__outer,
  .nav-main {
    @include breakpoint-down(tablet) {
      display: none;
    }
  }

  .burger-icon {
    display: none;
  }

  .burger-icon {
    @include breakpoint-down(tablet) {
      display: block;
    }
  }

  .header__mobile {
    display: block;
    padding: 0 20px;
    width: 100%;
    left: 0;
    top: 65px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 4px 9px 0px #00000012;
    z-index: 100;
    transform: translateY(-600px);
    transition: transform 0.5s;

    &.is-open {
      transform: translateY(0);
    }
  }

  .header__access,
  .header__footer {
    a {
      font-size: 14.5px;
      transition: background-color 0.5s, color 0.3s;

      &:hover {
        color: $c-orange-ff;
      }
    }
  }

  .header__access,
  .header__main a,
  .header__main .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__access {
    padding: 15px 0 31px;
    gap: 20px;

    .btn {
      margin-right: 5px;
      padding: 15px 40px;

      @include breakpoint-down(mobile-small) {
        width: 110px;
        padding: 15px 0;
        text-align: center;
      }
    }
  }

  .header__main {
    padding: 30px 0;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;

      @include breakpoint-down(mobile) {
        grid-template-columns: 1fr;
      }

      li {
        opacity: 0;
        transition-delay: .5s;
        transition: opacity 0.5s;
      }
    }

    a {
      transition: transform 0.4s;
      padding: 23px 16px 23px 25px;
      background-color: $c-white-f2;
      color: $c-gray-4f;
      gap: 20px;
      margin-bottom: 17px;
      font-size: 16px;
      border-radius: 17px;

      &:hover {
        transform: translateX(10px);
      }

      span {
        padding: 4px 10px;
        background-color: $c-yellow-ff;
        font-size: 12.5px;
        font-weight: 600;
        color: $c-black-31;
        border-radius: 8px;
      }

      svg {
        margin-left: 18px;
        stroke: #535458;
      }
    }
  }

  .header__mobile {
    &.is-open {
      .header__main {
        li {
          opacity: 1;
        }
      }
    }
  }

  .header__footer {
    position: relative;
    left: 5px;
    z-index: 99;
    margin: 22px 0 33px;

    a {
      display: block;
      width: fit-content;
      margin-bottom: 15px;
    }
  }
}
