.heading {
  padding: 50px 0;

  @include breakpoint-down(mobile-medium) {
    padding: 50px 0 40px;
  }

  &.no-space {
    padding: 0;
  }

  h2 {
    margin-bottom: 25px;
    font-size: 44px;
    font-weight: 600;

    @include breakpoint-down(mobile) {
      font-size: 34px;
    }
  }

  p {
    max-width: 450px;
    margin: 0 auto;
    font-size: 17px;

    @include breakpoint-down(mobile) {
      font-size: 16px;
    }

    @include breakpoint-down(mobile-medium) {
      max-width: 81%;
    }

    &.fullwidth {
      max-width: 100%;
    }
  }

  &.work {
    @include breakpoint-down(mobile-medium) {
      padding: 40px 0;

      p {
        max-width: 100%;
        margin-bottom: 40px;
      }
    }
  }

  &.customer {
    @include breakpoint-down(mobile-medium) {
      padding: 60px 0 15px;

      h2 {
        max-width: 290px;
        margin: 0 auto 20px;
      }
    }
  }
}
