i[class*='icon-'] {
  display: inline-block;
}

.icon-checkmark {
  width: 30px;
  height: 30px;
  background: url('../../images/icon-checkmark.png') no-repeat center center /
    contain;
}

.icon-details {
  width: 32px;
  height: 32px;
  background: url('../../images/enter-detail.png') no-repeat center center /
    contain;
}

.icon-magic {
  width: 32px;
  height: 32px;
  background: url('../../images/magic.png') no-repeat center center / contain;
}
