.nav {
  ul {
    display: flex;
    align-items: center;
  }

  a {
    color: $c-gray-86;
    font-size: 15px;
    transition: background-color 0.4s, color 0.3s;
  }

  &.nav-main {
    @include breakpoint-down(small-desktop) {
      margin: 0 auto;
    }

    a {
      padding: 10px;
      margin: 0 5px;
      border-radius: 9px;

      @include breakpoint-down(small-desktop) {
        padding: 10px 7px;
        font-size: 14px;
      }

      &:hover {
        color: $c-gray-40;
        background-color: $c-white-f2;
      }
    }

    .active {
      a {
        color: $c-gray-40;
        background-color: $c-white-f2;
      }
    }
  }

  &.nav-access {
    ul {
      gap: 18px;
    }

    li:first-child {
      a {
        &:hover {
          color: $c-orange-ff;
        }
      }
    }

    .btn--white {
      border: 2px solid $c-orange-ff;
      padding: 12px 13px;
      border-radius: 11px;
      font-weight: 500;
    }

    a {
      @include breakpoint-down(small-desktop) {
        font-size: 14px;
      }
    }
  }

  &.nav-secondary {
    h3 {
      font-size: 19px;
      line-height: 1.15;
      padding-top: 10px;
      margin-bottom: 35px;
      font-size: 16px;

      @include breakpoint-down(mobile) {
        margin-bottom: 22px;
        font-size: 17.5px;
      }
    }

    ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    a {
      padding: 0;
      color: $c-gray-4f;

      @include breakpoint-down(mobile) {
        font-size: 14.5px;
      }

      &:hover {
        color: $c-orange-ff;
      }
    }
  }

  &.nav-blog {
    margin: 40px 0 20px;

    a {
      border-radius: 119px;
      padding: 15px 25px;
      font-size: 14px;

      &:hover {
        color: $c-black-31;
      }
    }

    li.active {
      a {
        background-color: $c-white-f2;
        color: $c-black-31;
      }
    }
  }
}
