.offers {
  margin: 30px 0;

  .shell {
    @include breakpoint-down(mobile) {
      padding: 0;
    }
  }

  .offers__inner {
    display: grid;
    grid-template-columns: 59% 41%;
    background-color: $c-white-f9;
    border-radius: 29px;
    align-items: center;
    padding: 72px 80px;

    @include breakpoint-down(tablet) {
      column-gap: 30px;
      grid-template-columns: 50% 50%;
      padding: 65px 40px;
      align-items: center;
    }

    @include breakpoint-down(mobile) {
      display: block;
      padding: 50px 0 15px;
      grid-template-columns: 1fr;
      max-width: 100%;
    }
  }

  .offers__heading {
    display: none;
  }

  .offers__entry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    row-gap: 30px;

    @include breakpoint-down(tablet) {
      margin-right: 0;
      row-gap: 0;
    }
  }

  .h1-like {
    max-width: 460px;
    position: relative;
    margin-bottom: 30px;

    @include breakpoint-down(mobile) {
      padding: 0 10px;
      max-width: 100%;
      text-align: center;
    }

    svg {
      position: absolute;
      bottom: 0;
      right: 0;

      @include breakpoint-down(tablet) {
        bottom: -30px;
      }

      @include breakpoint-down(mobile) {
        top: -60px;
        left: 40px;
        transform: rotate(60deg);
      }
    }
  }

  .offers__icons {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 30px;

    @include breakpoint-between(mobile, tablet) {
      grid-template-columns: repeat(2, 120px);
    }

    @include breakpoint-down(mobile) {
      display: none;
    }
  }

  .customer-rated {
    @include breakpoint-down(mobile) {
      display: none;
    }
  }

  .offers__content {
    @include breakpoint-down(mobile) {
      padding: 0 20px;
    }
  }
}

.faq {
  .offers {
    @include breakpoint-down(mobile) {
      display: none;
    }
  }
}

.automatic,
.buy-instagram-likes,
.buy-instagram-followers,
.buy-instagram-views,
.buy-instagram-likes-alt,
.buy-instagram-followers-alt,
.buy-instagram-views-alt {
  .offers {
    .offers__icons {
      @include breakpoint-down(tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        align-items: baseline;
      }

      @include breakpoint-down(mobile) {
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 20px;
        background: #f5f6f8;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        border-radius: 16px;
        justify-content: space-between;
      }
    }

    .offers__heading {
      @include breakpoint-down(tablet) {
        display: block;
      }
    }

    .offers__entry {
      .h1-like {
        @include breakpoint-down(tablet) {
          display: none;
        }
      }
    }

    .h1-like {
      @include breakpoint-down(tablet) {
        max-width: 100%;
        text-align: center;
      }

      @include breakpoint-down(mobile) {
        padding: 0 20px;
      }

      svg {
        @include breakpoint-down(small-desktop) {
          top: -60px;
          left: 40px;
          transform: rotate(60deg);
        }
      }
    }
    .offers__inner {
      position: relative;
      grid-template-columns: 55% 45%;
      padding: 47px 80px 25px;
      align-items: flex-start;

      @include breakpoint-down(small-desktop) {
        display: grid;
        padding: 47px 50px 32px;
      }

      @include breakpoint-down(tablet) {
        grid-template-columns: 1fr;
      }

      @include breakpoint-down(mobile) {
        border-radius: 0;
        padding: 47px 5px 32px;
      }
    }

    .offers__entry {
      @include breakpoint-down(tablet) {
        grid-row: 3/4;
        padding: 0 20px;
      }
    }

    .radio {
      border: 1px solid $c-white-ed;
      border-radius: 12px;

      input {
        z-index: 2;
      }

      .radio__side,
      .radio__item,
      label {
        position: relative;
        z-index: 2;
      }

      .radio__bg {
        z-index: 0;
        background-color: #ffffff;
      }

      input:checked ~ .radio__bg {
        background-color: $c-teal-ae;
      }

      .radio__side {
        @include breakpoint-down(mobile-medium) {
          padding-left: 10px;
        }
      }

      .radio label {        
        @include breakpoint-down(mobile) {
          font-size: 13.5px;
        }
      }
    }

    .inline-radio-outer {
      margin-top: 20px;
    }
  }
}
