.pagination {
    margin: 30px 0 35px;

    &,
    .pagination__inner,
    ul {
        display: flex;
        align-items: center;
    }

    ul {
        gap: 12px;

        @include breakpoint-down(mobile) {
            gap: 2px; 
        }
    }

    .pagination__inner {
        gap: 50px;

        @include breakpoint-down(mobile) {
            gap: 20px; 
        }
    }

    .pagination__arrow {
        width: 9px;
        cursor: pointer;

        &.disabled {
            opacity: .5;
        }

        svg {
            max-width: 100%;
        }
    }

    li {
        color: $c-gray-50;
        font-size: 13px;
        font-weight: 600;
        padding: 14px 18.5px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            color: $c-orange-ff;
        }

        &.active {
            color: #ffffff;
            background-color: $c-black-31;
        }
    }
}
