.post {
    .post__intro {
        .shell {
            @include breakpoint-down(mobile) {
                padding: 0;
            }
        }
    }

    .post__intro-inner {
        max-width: 760px;
        margin: 0 auto;

        @include breakpoint-down(mobile) {
            .post-head__img-block {
                width: 100%;
                border-radius: 0;
            }

            .post-head__category {
                display: none;
            }

            .post-head__entry {
                margin: 0 0 10px;

                h3 {
                    margin: 30px 0 20px;
                }
            }

            .post-head__inner {
                margin-bottom: 40px;
            }

            .mr-buzz,
            .post__intro-content,
            .post-head__entry {
                padding: 0 25px;
            }

            .post-head {
                &.no-img {
                    .post-head__img-wrapper {
                        @include breakpoint-down(mobile) {
                            width: 180px;
                            height: 220px;
                            top: 10px;
                        }
                    }
                }
            }
        }
    }

    .post__intro-content {
        li {
            list-style: disc;
            margin-bottom: 12px;
            line-height: 1.4;
        }

        ul {
            margin-bottom: 60px;

            @include breakpoint-down(mobile) {
                padding-left: 25px;
            }
        }

        a {
            color: $c-orange-ff;
            text-decoration: underline;
        }

        h2 {
            @include breakpoint-down(mobile) {
                font-size: 28px;
            }
        }

        h3 {
            @include breakpoint-down(mobile) {
                font-size: 21px;
            }
        }

        h4 {
            @include breakpoint-down(mobile) {
                font-size: 19px;
            }
        }

        p {
            @include breakpoint-down(mobile) {
                font-size: 15px;
            }
        }
    }

    .mr-buzz {
        margin: 80px 0 60px;
        display: flex;
        align-items: center;
        gap: 30px;

        @include breakpoint-down(mobile) {
            margin: 20px 0 30px;
            gap: 20px;
        }

        .mr-buzz__image {
            width: 31px;

            @include breakpoint-down(mobile) {
                width: 23px;
            }
        }

        svg {
            max-width: 100%;
            height: auto;
        }

        span {
            position: relative;
            font-weight: 600;
            color: $c-gray-62;
            font-size: 15px;
            opacity: 0.5;

            @include breakpoint-down(mobile) {
                font-size: 13px;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -18px;
                width: 13px;
                height: 2px;
                background-color: $c-gray-62;
                opacity: 0.5;

                @include breakpoint-down(mobile) {
                    width: 8px;
                    left: -12px;
                }
            }
        }
    }

    .post-head__img-block {
        @include breakpoint-down(mobile) {
            height: 234px;
        }
    }

    .posts-group__collection {
        .post-head {
            @include breakpoint-down(tablet) {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    .posts-group__heading {
        h3 {
            font-size: 20px;
        }
    }
}
