.posts-group {
    margin: 35px 0 60px;

    @include breakpoint-down(mobile) {
        margin: 35px 0 28px;
    }

    .posts-group__collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        row-gap: 30px;

        @include breakpoint-down(tablet) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 60px;
        }

        @include breakpoint-down(mobile) {
            gap: 20px;
            grid-template-columns: 75%;
            justify-content: center;
        }

        @include breakpoint-down(mobile-medium) {
            grid-template-columns: 1fr;
        }
    }

    .posts-group__heading {
        margin-bottom: 65px;

        @include breakpoint-down(mobile) {
            margin-bottom: 35px;
            text-align: center;
        }

        @include breakpoint-down(mobile-medium) {
            text-align: left;
        }

        h3 {
            font-size: 23px;
            color: $c-gray-77;
            opacity: 0.8;

            @include breakpoint-down(mobile) {
                font-size: 20px;
            }
        }
    }
}
