.post-head {
    a:hover {
        h3 {
            color: $c-orange-ff;
        }
    }

    .post-head__inner {
        display: flex;
        align-items: center;
    }

    .post-head__img-block {
        position: relative;
        height: 360px;
        width: 53%;
        border-radius: 30px;
        overflow: hidden;
    }

    .post-head__img-wrapper {
        width: 100%;
        position: relative;
        height: 100%;
    }

    .post-head__entry {
        padding-left: 77px;
        max-width: 47%;
    }

    h3 {
        font-size: 44px;
        line-height: 1.11;
        margin: 18px 0 25px;

        @include breakpoint-down(mobile) {
            font-size: 34px;
        }
    }

    .post-head__category {
        padding: 7px 15px;
        border-radius: 37px;
        margin-bottom: 10px;
        font-size: 14.6px;
        font-weight: 500;
    }

    .post-head__date {
        color: $c-gray-62;
        opacity: 0.5;
        font-weight: 500;
        font-size: 13.6px;
    }

    &.no-img {
        .post-head__img-block {
            background: linear-gradient(to top, $c-orange-f9, $c-orange-ff);
        }
    }

    &.orange {
        .post-head__category {
            background-color: rgba(255, 167, 117, 0.2);
            color: $c-orange-ff;
        }
    }

    &.yellow {
        .post-head__category {
            background-color: rgba(249, 220, 88, 0.2);
            color: $c-yellow-de;
        }
    }

    &.blue {
        .post-head__category {
            background-color: rgba(174, 236, 255, 0.2);
            color: $c-blue-1a;
        }
    }

    &.is-reverse {
        .post-head__entry {
            order: -1;
            margin: 85px 0 10px;
            padding: 0;
            max-width: 520px;

            h3 {
                margin: 40px 0 20px;
            }
        }

        .post-head__img-block {
            width: 609px;
        }

        .post-head__category {
            padding: 0;
            background: none;
        }

        .post-head__inner {
            align-items: flex-start;
            margin-bottom: 60px;
        }
    }

    &.is-first {
        h3 {
            color: $c-orange-ff;
        }
    }

    &.is-small {
        align-items: flex-start;

        h3 {
            font-size: 22.5px;

            @include breakpoint-down(mobile) {
                font-size: 21px;
            }
        }

        .post-head__date {
            display: none;
        }

        .post-head__entry,
        .post-head__img-block {
            padding: 0;
            width: 100%;
        }

        .post-head__img-block {
            border-radius: 23.6px;
            height: 147px;

            @include breakpoint-down(mobile-medium) {
                height: 131px;
            }
        }

        &.no-img {
            .post-head__img-wrapper {
                position: relative;
                bottom: -80px;
                width: 170px;
                height: 210px;

                @include breakpoint-down(mobile-medium) {
                    bottom: -90px;
                }
            }
        }
    }

    &.no-img {
        .post-head__img-wrapper {
            width: 239px;
            height: 300px;
            left: -10px;
        }

        .post-head__img-block {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    }

    &.is-column {
        .post-head__inner {
            flex-direction: column;
            gap: 25px;
        }

        &.is-small {
            .post-head__entry {
                max-width: 100%;
            }
        }
    }
}
