.radio-toggle {
  font-family: $font-base;
  display: flex;
  width: 100%;
  padding: 14.5px 13px;
  border: 0.863942px solid $c-orange-ff;
  border-radius: 13px;
  align-items: center;
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  color: $c-orange-ff;
  cursor: pointer;

  .radio-toggle__chevron {
    margin-right: 19px;
  }

  svg {
    width: 16px;
    height: auto;
    path {
      stroke: $c-orange-ff;
    }
  }

  .radio-toggle__orange {
    background-color: $c-orange-ff;
    padding: 6px 11px;
    margin-left: auto;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    color: #fff;
  }
}
