.review-form {
    display: none;
    padding: 25px 30px;
    max-width: 627px;
    margin: 18px auto 0;
    box-shadow: 0px 2px 2px 0px #41474f14, 0px 4px 13px 0px #82919814, 0px 3px 7px 0px #aebdd912;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #f3f3f3;

    .form__body {
        display: flex;
        gap: 39px;

        @include breakpoint-down(mobile) {
            flex-direction: column;
        }

        & > * {
            flex: 1;

            @include breakpoint-between(mobile-medium, mobile) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .form__actions {
        .btn {
            width: 100%;

            @include breakpoint-down(mobile-small) {
                padding: 20px 0;
            }
        }
    }

    .form__field {
        font-size: 13.5px;
        padding: 15px;
        margin: 11px 0 21px;
    }

    .form__label {
        font-size: 13px;
        color: $c-black-31;
        font-weight: 400;

        &:after {
            display: none;
        }
    }

    .form__rating {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
