.review {
  .review__header {
    padding: 35px 50px 45px;
    position: relative;
    background: $c-white-f9;
    border-radius: 15px;

    @include breakpoint-down(mobile) {
      padding: 20px 50px 35px;
    }

    p {
      max-width: 92%;
      margin: 0 auto;
      font-size: 16px;
      line-height: 22.4px;
      color: $c-black-32;
      text-align: center;

      @include breakpoint-between (mobile-medium, mobile) {
        max-width: 75%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -18px;
      left: 62px;
      width: 50px;
      height: 20px;
      background-color: $c-white-f9;
      clip-path: polygon(
        50% 0%,
        100% 0,
        71% 44%,
        52% 78%,
        46% 90%,
        44% 100%,
        41% 82%,
        38% 63%,
        31% 43%,
        0 0
      );
    }
  }

  .review__stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    gap: 1px;
  }

  .review__quote {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--up {
      right: 15px;
    }

    &--down {
      left: 15px;
    }
  }

  .review__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    h5,
    p {
      text-align: right;
      color: $c-black-31;
      font-size: 13px;
      line-height: 20.8px;
      font-weight: 400;
    }

    p {
      opacity: 0.5;
    }
  }

  .review__picture {
    position: relative;
    top: -18px;
    left: 10px;

    @include breakpoint-down(mobile) {
      left: 0;
    }
  }
}