.reviews {
  margin: 110px 0 74px;

  @include breakpoint-down(mobile) {
      margin: 80px 0 34px;
  }

    .reviews__submit {
        transition: background-color .3s, border-color .3s;
        position: relative;
        margin: 0 auto 5px;
        background: #ffffff;
        border-radius: 49px;
        width: 177px;
        height: 46px;
        border: 1px solid rgba(243, 243, 243);
        box-shadow: 0px 2px 2px 0px #41474f14, 0px 4px 13px 0px #82919814, 0px 3px 7px 0px #aebdd912;
        font-size: 14.5px;

        .reviews__btn-text {
            transition: color .3s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10%;
            display: inline-block;
            font-size: 14.5px;
            color: $c-black-31;
            font-weight: 600;
        }

        &:hover {
            background-color: $c-black-31;
            border-color: $c-black-31;
            cursor: pointer;

            .reviews__btn-text {
                color: #ffffff;
            }
        }
    }

    &.is-open {
        .review-form {
            display: block;
        }

        .reviews__submit {
            width: 43px;
            height: 40px;
            border-radius: 50%;
        }
        .reviews__btn-text {
            position: relative;
            background-color: $c-black-31;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            left: 12px;

            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 8px;
                width: 2px;
                height: 9px;
                background-color: #ffffff;
            }

            &:after {
                transform: rotate(45deg);
            }

            &:before {
                transform: rotate(-45deg);
            }
        }
    }

    .reviews__actions {
        position: relative;
    }
}