.stars-rate {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .stars-rate__stars {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .stars-rate__text {
        padding: 7px 11px;
        background-color: $c-gray-e1;
        font-size: 11px;
        color: $c-gray-73;
        border-radius: 10px;
    }
}
