.privacy-policy,
.terms-of-service {
    footer {
        margin: 0px 0 35px;
    }
    
    .section__wrapper {
        background-color: #f8f9fd;

        .shell {
            max-width: 990px;
        }
    }

    .section__inner {
        padding: 60px 0;

        li {
            margin-bottom: 12px;
            line-height: 1.4;
        }

        ul {
            li {
                list-style: disc;
            }
        }

        ol {
            li {
                list-style: decimal;
            }
        }

        ul,
        ol {
            margin: 0 0 60px 30px;

            @include breakpoint-down(mobile) {
                padding-left: 25px;
            }
        }

        a {
            color: $c-orange-ff;
            text-decoration: underline;
        }

        p {
            margin-bottom: 2;
        }

        p,
        span {
            font-size: 14px;
        }

        h1 {
            font-size: 32px;

            @include breakpoint-down(mobile) {
                font-size: 28px;
            }
        }

        h3 {
            @include breakpoint-down(mobile) {
                font-size: 21px;
            }
        }

        h4 {
            @include breakpoint-down(mobile) {
                font-size: 19px;
            }
        }

        p {
            @include breakpoint-down(mobile) {
                font-size: 15px;
            }
        }
    }

    .section__head {
        text-align: center;
        margin-bottom: 60px;

        h1,
        h4 {
            font-weight: 400;
        }

        h1 {
            color: $c-black-31;
        }

        h4 {
            color: $c-gray-86;
        }
    }
}
